
body{
	min-height:100%;
}

.jumbotron{
	position:relative;
	top:50px;
	width: 800px;
	margin:auto;
	text-align:center;
	min-height:100%;
	background-color: whitesmoke;
	
}

p{
	padding-top:10px;
	padding-bottom:10px;

}

.hide {
	display: none!important;
}

#question-container {
	padding-bottom: 20px;
	font-weight: bold;


}

.btn{
	padding-left:0px;
	margin-bottom: 10px!important;
	text-align:left!important;
}

.highScore {

	position: absolute;
	top: 0;
	left: 5px;
}

ul {
	background:gray;
	padding: 20px;
	list-style-type:none;
	color:white;
  }

li{
	background:lightslategray;
	margin:5px;
  }

.countdown {

	position: absolute;
	top: 0;
	right: 5px;
}

#submit {
 margin-top: 10px;
}

.messages-border {
	border-top: 1px solid #000;
	width: 100%;
	margin: auto;
	margin-top: 5%;
	padding-top: 7px;
	margin-bottom: 5%;
}