body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
  }

.container{
    padding:50px;
    text-align:center;

}  

.btn-group button {
    background-color: purple; /* Green background */
    border: 1px solid purple; /* Green border */
    color: white; /* White text */
    cursor: pointer; /* Pointer/hand icon *//* Set a width if needed *//* Make the buttons appear below each other */
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    display:block;
  }
  
  .hide {
    display:none !important;
  }

  .countdown {
    position:absolute;
    top:0;
    right:0;
  }
  
.results-border { 
  border-top: 1px solid #000;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  padding-top: 7px;
  margin-bottom: 5%;
}